/** @format */

@import "../../../../styles/common.scss";

#item {
  height: 450px;
  @media only screen and (max-width: 640px) {
    height: 300px;
  }
  .item--opacity {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
  }
  div {
    z-index: 5;
    position: absolute;
    padding: var(--padding-large) var(--padding-big);
    @media only screen and (max-width: 1200px) {
      padding: var(--padding-big) var(--padding-small);
    }
    h3 {
      color: #fff;
    }
    h1 {
      color: #fff;
    }
  }
}
