/** @format */
@import "../../styles/common.scss";

#careers {
  .careers-container {
    padding-top: 70px;

    .emailhr {
      border-radius: 3px;
      background: var(--red-color-1);
      color: #fff;
      font-size: 1.4rem;
      text-transform: none;
      font-weight: bold;
    }
  }
  .careers-bg-img {
    height: 400px;
    background-image: url("../../assets/images/bgimg_10.png");
    background-size: cover;
    background-position: center;
    position: relative;
    .dots-wrapper {
      position: absolute;
      bottom: 0;
      left: 10%;
      .employees-container {
        height: 100%;
        background: var(--red-color-1);
        h1 {
          margin: 0 0 0 5px;
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
      .projects-container {
        height: 100%;
        background: var(--black-color-1);
        h1 {
          margin: 0 0 0 5px;
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
  }
  .want-to-join {
    @media only screen and (max-width: 640px) {
      margin: 0 0;
    }
  }
  .all-positions-bg-img {
    background-image: url("../../assets/images/bgimg_9.png");
    background-size: cover;
    background-position: center;
    @media only screen and (max-width: 640px) {
      display: none;
    }
  }
  .all-positions {
    background: var(--light-grey-color-1);
    padding: 30px;
    @media only screen and (max-width: 640px) {
      padding: 20px 10px;
    }
    div:nth-child(1) {
      @media only screen and (max-width: 640px) {
        padding-top: 0;
      }
    }
  }
  .hr-img-container {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
  }

  .more-info {
    .hr-info {
      padding-left: 20px;
      h3,
      p {
        margin: 5px 0;
      }
    }
    .company-info {
      padding-left: 20px;
      p {
        margin: 5px 0;
      }
    }
  }
}
