/** @format */

@import "../../../styles/common.scss";

.form {
  padding: var(--padding-extra-large) 0;
  @include responsive(tab-port) {
    padding: var(--padding-small) 0;
  }
  &--wrapper {
    width: var(--width-content);
    display: flex;
    margin: auto;
    @include responsive(tab-port) {
      flex-direction: column;
    }
    &--left {
      flex: 1;
      div {
        margin-bottom: var(--margin-medium);
        p {
          color: #fff;
          font-size: 1.6rem;
          margin-bottom: var(--margin-small);
        }
        h1 {
          color: #fff;
          font-size: 4rem;
        }
      }
      .actual_form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
        @include responsive(tab-port) {
          grid-template-columns: 1fr;
        }

        label {
          color: var(--light-grey-color-2);
          font-size: 1.4rem;
          display: block;
        }
        input {
          background: var(--input-background);
          padding: var(--padding-small);
          border: 0;
          border-radius: 3px;
          margin-top: 5px;
          width: 80%;
          outline: none;
          caret-color: #fff;
          color: #fff;
          @include responsive(tab-port) {
            width: 100%;
          }
        }
        select {
          background: var(--input-background);
          padding: var(--padding-small);
          border: 0;
          border-radius: 3px;
          margin-top: 5px;
          width: 80%;
          outline: none;
          color: #fff;
          @include responsive(tab-port) {
            width: 100%;
          }
        }
        select option {
          background-color: black;
        }
      }
      button {
        background: var(--main-red-color);
        padding: 5px 15px;
        font-weight: bold;
        border: 0;
        border-radius: 3px;
        color: #fff;
        font-size: 1.6rem;
        cursor: pointer;
        @include responsive(tab-port) {
          width: 100%;
          padding: 10px;
          font-size: 1.8rem;
        }
      }
    }
    &--right {
      flex: 1;
      &--wrapper {
        padding-left: var(--padding-extra-large);
        @include responsive(tab-port) {
          padding: var(--padding-big) 0 0 0;
        }
        .get-in-touch {
          margin-bottom: var(--margin-medium);
          p {
            color: #fff;
            font-size: 1.6rem;
            margin-bottom: var(--margin-small);
          }
          h1 {
            color: #fff;
            font-size: 4rem;
          }
        }
        .email_us {
          margin-bottom: var(--margin-big);
          p {
            color: var(--light-grey-color-2);
            font-size: 1.6rem;
            margin-bottom: var(--margin-small);
          }
          &--email {
            color: var(--light-grey-color-2);
            font-size: 1.6rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}
// hide arrows from input type=number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
