/** @format */

@import "../../../styles/common.scss";

#form {
  .form-container {
    p {
      color: #fff;
    }
    h1 {
      margin-top: 0;
      color: #fff;
    }
    form {
      button {
        border-radius: 3px;
        text-transform: capitalize;
        background: var(--main-red-color);
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
        @media only screen and (max-width: 640px) {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    .form-input-container {
      @media only screen and (max-width: 640px) {
        flex-direction: column;
      }
      div {
        padding: var(--padding-small) var(--padding-medium) var(--padding-small)
          0;
        @media only screen and (max-width: 640px) {
          padding: var(--padding-small) 0;
        }
        label {
          color: var(--light-grey-color-2);
        }
        input {
          border-radius: 3px;
          outline: none;
          caret-color: #fff;
          color: #fff;
          background: var(--input-background);
          border: 0;
        }
        select {
          background: var(--input-background);
          border: 0;
          border-radius: 3px;
          outline: none;
          color: #fff;
        }
      }
    }
    .get-in-touch {
      @media only screen and (min-width: 960px) {
        padding-top: 0;
      }
      @media only screen and (max-width: 960px) {
        padding-left: 0;
      }
      &--flex {
        @media only screen and (min-width: 480px) and (max-width: 960px) {
          display: flex;
        }
        .item {
          p {
            margin: 0;
            color: var(--light-grey-color-2);
          }
          p:nth-child(1) {
            margin-bottom: 5px;
          }
          &:nth-child(2) {
            @media only screen and (min-width: 480px) and (max-width: 960px) {
              margin-left: 30px;
            }
            @media only screen and (max-width: 480px) {
              margin-top: 20px;
            }
            @media only screen and (min-width: 960px) {
              margin-top: 50px;
            }
          }
        }
      }
    }
  }
}
// hide arrows from input type=number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
