/** @format */
@import "../../../styles/common.scss";

#clients {
  background: var(--main-black-color);
  .partner-container {
    min-width: 33%;
    margin: var(--margin-medium) 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .our-clients {
    @media only screen and (min-width: 640px) {
      padding-right: var(--padding-large);
    }
    @media only screen and (max-width: 640px) {
      margin-bottom: var(--margin-big);
    }
    h4 {
      border-bottom: 1px solid var(--border-color);
      padding: 0 0 var(--padding-small) 0;
      color: #fff;
    }
    h1 {
      color: #fff;
    }
  }
  p {
    color: var(--light-grey-color-2);
  }
}
