/** @format */

:root {
  // colors
  --main-red-color: #d90a2c;
  --main-black-color: #1a191d;
  --black-color-1: #17161a;
  --black-color-2: #22171b;
  --black-color-3: #2a292d;
  --black-color-4: #2a2a2a;
  --black-color-5: #162024;
  --light-grey-color-1: #f9f9f9;
  --light-grey-color-2: #aaaaab;
  --light-grey-color-3: #9a999b;
  --red-color-1: #ca0f2c;
  --red-color-2: #cc442b;

  --input-background: #ffffff0d;
  --modal-background: #1a191dfc;

  --border-color: #727273;
  --border-color-light: #8888881a;

  //padding
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-big: 3rem;
  --padding-large: 5rem;
  --padding-extra-large: 10rem;

  // margin
  --margin-small: 1rem;
  --margin-medium: 2rem;
  --margin-big: 3rem;
  --margin-large: 5rem;
  --margin-extra-large: 10rem;
}
