/** @format */
@import "../../../styles/common.scss";

.hamburgerMenu {
  display: none;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: var(--modal-background);
  z-index: 300;
  padding: var(--padding-big);
  position: fixed;
  &--open {
    transition: all 0.5s;
    animation-name: showMenu;
    animation-duration: 1s;
    display: block;
  }
  &--close {
    animation-name: hideMenu;
    animation-duration: 1s;
    transition: all 0.5s;
    display: none;
  }
  @media only screen and (max-width: 600px) {
    padding: var(--padding-small) var(--padding-medium);
  }

  &--button {
    width: 100%;
    @media only screen and (max-width: 600px) {
      position: absolute;
      right: 5%;
      top: 5%;
      width: auto;
    }
    button {
      border: 0;
      border-radius: 50%;
      padding: var(--padding-small);
      background: var(--black-color-1);
      color: #fff;
      font-size: 1.6rem;
      font-weight: bold;
      cursor: pointer;
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  .nav {
    padding: var(--padding-extra-large) var(--padding-medium);
    height: 70%;
    @include responsive(tab-port) {
      padding: var(--padding-medium) 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & > * {
      @include responsive(tab-port) {
        padding: var(--padding-big) 0;
      }
    }
    &--item-animate {
      animation-name: animateLinks;
      animation-duration: 1.5s;
    }
    &--active {
      color: var(--active-tab-orange) !important;
    }
    a {
      text-decoration: none;
    }
    h1 {
      font-size: 4.4rem;
      font-weight: bold;
      color: #fff;
      margin-bottom: var(--margin-medium);
      cursor: pointer;
      @media only screen and (max-width: 600px) {
        font-size: 3rem;
        margin-bottom: var(--margin-small);
      }
      sup {
        margin-right: var(--margin-small);
        color: var(--light-grey-color-2);
        font-size: 1.2rem;
        font-weight: normal;
      }
    }
    .tabClicked {
      sup {
        display: none;
      }
      padding-left: var(--padding-large);
      color: var(--light-grey-color-3);
    }
    &--about {
      display: flex;
      position: relative;
      align-items: center;
      @media only screen and (max-width: 600px) {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
      }
      &--expand {
        margin-left: var(--margin-extra-large);
        font-size: 1.6rem;
        color: #fff;
        padding-bottom: var(--padding-small);
        cursor: pointer;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
      &--hide {
        display: none;
      }

      div {
        position: absolute;
        left: 30%;
        top: 0;
        @media only screen and (max-width: 600px) {
          position: relative;
        }
      }
    }
  }
  &--emails {
    position: absolute;
    bottom: 10%;
    width: 100%;
    @include responsive(phone) {
      bottom: 5%;
    }
    .flex {
      display: flex;
      padding: 0 var(--padding-medium);
      padding-bottom: var(--padding-large);
      @include responsive(phone) {
        justify-content: flex-start;
      }
      div {
        padding-left: 0;
        p {
          font-size: 1.4rem;
          color: #fff;
        }
        .text-grey {
          color: var(--light-grey-color-2);
          padding-bottom: var(--padding-medium);
        }
        .text-bold {
          font-weight: bold;
        }
        &:last-child {
          margin-left: 10rem;
        }
      }
    }
    div {
      padding: 0 var(--padding-medium);
      @media only screen and (max-width: 600px) {
        padding: var(--padding-medium) 0;
      }
      p {
        font-size: 1.4rem;
        color: #fff;
        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideMenu {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes animateLinks {
  from {
    margin-top: 100px;
  }
  to {
    margin-top: 0;
  }
}
