/** @format */

@import "../../../styles/common.scss";

#approach {
  .section-container {
    p,
    h1 {
      color: #fff;
    }
  }
  .approach-container {
    height: 700px;
    @media only screen and (max-width: 940px) {
      flex-direction: column;
    }
  }
  .image-bg {
    height: 500px;
    margin: auto 0;
    background-image: url("../../../assets/images/bg_img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  .card-red-bg {
    background: var(--main-red-color);
    padding: var(--padding-extra-large) var(--padding-large);
    height: 100%;
    h1 {
      color: #fff;
    }
    p {
      color: #fff;
      margin-top: 3rem;
    }
  }
}
