/** @format */

@import "../../styles/common.scss";

#contact {
  .contact-container {
    // padding-top: var(--padding-extra-large);
    padding-top: 70px;
  }
  .send-email-button {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: none;
    background: var(--red-color-1);
    border-radius: 3px;
    color: #fff;
  }
  .google-map {
    background: lightgreen;
  }
  .icon-holder {
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .get-in-touch {
    background: var(--black-color-1);
    h3 {
      color: #fff;
    }
    p {
      margin: 1rem 0;
    }
  }
  .post-address {
    background: var(--main-black-color);
    h3 {
      color: #fff;
    }
    p {
      margin: 1rem 0;
    }
  }
}
