/** @format */
@import "../../styles/common.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium);
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  &--hide {
    visibility: hidden;
    transition: all 200ms ease-out;
    transform: translate(0, -100%);
  }
  &--show {
    visibility: visible;
    transition: all 200ms ease-in;
    transform: none;
  }

  &--followus {
    position: fixed;
    transform: rotate(-90deg);
    top: 50%;
    right: -3%;
    z-index: 200;
    @include responsive(tab-land) {
      display: none;
    }
    h4 {
      font-size: 1.6rem;
      color: #fff;
      line-height: 2.4rem;
      a {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
      }
    }
  }
  &--menu {
    display: flex;
    align-items: center;
    z-index: 200;

    h3 {
      font-size: 2.5rem;
      margin-left: var(--margin-medium);
      color: #fff;
    }
    .dark {
      color: var(--black-color-1);
    }
  }
  &--button {
    z-index: 200;
    button {
      background: var(--black-color-1);
      color: #fff;
      border-radius: 3px;
      border: 0;
      padding: 5px var(--padding-small);
      font-size: 1.6rem;
      outline: none;
      cursor: pointer;
      transition: all 1s;
      &:hover {
        background: transparent;
      }
    }
  }
  .toggle-menu-button {
    background: transparent;
    border: 0;
    font-size: 2rem;
    transform: rotate(90deg);
    color: #fff;
    cursor: pointer;
  }
  .dark_background {
    color: black;
  }
}

@keyframes bgTransparent {
  from {
    background: var(--black-color-1);
  }
  to {
    background: transparent;
  }
}
