/** @format */
@import "../../styles/common.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-small) var(--padding-big);
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  position: fixed;

  &--hide {
    background: transparent;
    transition: background-color 1s;
  }
  &--show {
    background: #fff;
    transition: all 1s ease-in;
    color: black;
    z-index: 200;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    .header--menu--button {
      color: black !important;
      transition: color 1s;
    }
    h3 {
      color: black !important;
      transition: color 1s;
    }
    // background: black; // to be removed
  }

  &--followus {
    position: fixed;
    transform: rotate(-90deg);
    top: 50%;
    right: -3%;
    z-index: 200;
    @include responsive(tab-land) {
      display: none;
    }
    h4 {
      font-size: 1.6rem;
      color: #fff;
      line-height: 2.4rem;
      a {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
      }
    }
  }
  &--menu {
    display: flex;
    align-items: center;
    z-index: 200;
    div {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    h3 {
      font-size: 2.5rem;
      margin: 0;
      margin-left: var(--margin-medium);
      color: #fff;
      @include responsive(tab-port) {
        margin-left: 0;
      }
    }
    .dark {
      color: var(--black-color-1);
    }
  }
  &--button {
    z-index: 200;
    button {
      background: var(--black-color-1);
      color: #fff;
      border-radius: 3px;
      border: 0;
      padding: 5px var(--padding-small);
      font-size: 1.6rem;
      outline: none;
      cursor: pointer;
      transition: background-color 1s, font-weight 1s 0.5s;
      &:hover {
        font-weight: bold;
        background: transparent;
      }
    }
  }
  .toggle-menu-button {
    background: transparent;
    border: 0;
    font-size: 2rem;
    transform: rotate(90deg);
    color: #fff;
    cursor: pointer;
  }
  .dark_background {
    color: black;
  }
}
