/** @format */

@import "../../styles/common.scss";

.footer {
  background: var(--black-color-1);
  @include responsive(tab-port) {
    z-index: 250;
  }
  &--container {
    padding-top: var(--padding-extra-large);
    @include responsive(tab-land) {
      padding-top: var(--padding-large);
    }
    &--wrapper {
      width: var(--width-content);
      margin: auto;
      display: flex;
      justify-content: space-between;
      @include responsive(tab-port) {
        flex-direction: column;
      }
      &--grid {
        flex: 2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        @include responsive(tab-port) {
          grid-template-columns: repeat(2, 1fr);
        }
        .logo {
          img {
            width: 5rem;
          }
          h4 {
            font-size: 2.2rem;
            color: #fff;
          }
        }
        .grid-el {
          line-height: 2.2rem;
          &:nth-child(2) {
            @include responsive(tab-port) {
              grid-row: 3/4;
            }
          }
          &:nth-child(5) {
            @include responsive(tab-port) {
              grid-row: 3/4;
            }
          }
          p {
            color: #fff;
            font-size: 1.6rem;
          }
          .city {
            color: var(--light-grey-color-2);
            font-size: 1.6rem;
            margin-bottom: var(--margin-medium);
            @include responsive(tab-port) {
              margin-bottom: var(--margin-small);
            }
          }
        }
      }
      &--flex {
        flex: 1;
        @include responsive(tab-port) {
          margin-top: var(--margin-medium);
        }
        .flex--item {
          &:first-child {
            margin-top: 0;
          }
          margin: var(--margin-big);
          @include responsive(tab-port) {
            margin: var(--margin-small) 0;
          }

          .info {
            color: var(--light-grey-color-2);
            font-size: 1.6rem;
            margin-bottom: var(--margin-medium);
          }
          .bold {
            color: #fff;
            font-size: 1.6rem;
            font-weight: bold;
          }
          p {
            color: #fff;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
  &--rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color-light);
    width: var(--width-content);
    margin: auto;
    margin-top: var(--margin-medium);
    padding: var(--padding-big) 0;

    p {
      color: var(--light-grey-color-2);
      font-size: 1.4rem;
      padding-top: var(--padding-small);
    }
  }
}

.hide-on-small-devices {
  @include responsive(tab-port) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
