/** @format */
@import "../../../styles/common.scss";

#whatwedo {
  .what-we-do {
    @media only screen and (min-width: 640px) {
      padding-right: var(--padding-large);
    }
  }
  h4 {
    border-bottom: 1px solid var(--border-color);
    padding: var(--padding-small) 0;
    color: #fff;
  }
  h1 {
    color: #fff;
    margin-top: var(--margin-medium);
  }
  p {
    color: var(--light-grey-color-2);
    margin-top: var(--margin-medium);
    @media only screen and (max-width: 640px) {
      margin-top: 0;
    }
  }
}
