/** @format */

@font-face {
  font-family: "Space-Grotesk";
  src: local("SpaceGrotesk"),
    url(./assets/fonts/SpaceGrotesk-Bold.woff) format("woff");
}
@font-face {
  font-family: "Space-Grotesk";
  src: local("SpaceGrotesk"),
    url(./assets/fonts/SpaceGrotesk-Regular.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space-Grotesk";
  font-weight: normal;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and (max-width: 768px) {
    font-size: 50%;
  }
  @media only screen and (max-width: 480px) {
    font-size: 40%;
  }
}

#root {
  // width: 100%;
  overflow: hidden;
}
